@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --safe-top: env(safe-area-inset-top);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

input, select, textarea {
  font-size: 16px !important;
  max-width: 100% !important;
  box-sizing: border-box !important;
  border-color: #e5e7eb !important; /* 라이트모드 기본 테두리색(연한 회색) */
}
.dark input, .dark select, .dark textarea {
  border-color: #4b5563 !important; /* 다크모드는 gray-600 */
}

input[type="date"] {
  width: 100% !important;
  max-width: 100% !important;
  box-sizing: border-box !important;
  -webkit-appearance: none !important;
  display: block !important;
}
html {
  overflow-y: scroll;
}
